:root {
    --primary-color: #fff;

    font-size: 100%;
  }
  
  body {
    margin: 0;
    background-size: auto 100%;
    background-color: #E1FAFF;
    font-family: 'Kavoon', cursive;
  }

  body.darkmode {
    background-color: #7B7B7B;
    color: #F5F5F5;
  }

  /* font-family: 'Inter', sans-serif; */
  
  #biggestbox {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
  
  #inbox {
    width: 100%;
    margin-left: 93px;
    margin-top: 10px;
  }

  #head{
    display: flex;
    align-items: center;
  }

  #title{
    font-size: 70px;
    margin-left: 30px;
  }

  #searchbar{
    border-radius: 50px;
    width: 328px;
    margin-left: 250px;
    margin-right: 20px;
    height: 25px;
    border: none;
  }

  #search{
    cursor: pointer;
  }

  ::placeholder{
    padding-left: 15px;
  }

  #buttdark{
    margin-left: 559px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-size: 20px;
    background-image: url(media/moon.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  #buttdark:hover{
    border-color: red;
  }

  #content{
    display: flex;
  }

  #todo, #doing, #done{
    width: 520px;
    height: 635px;
    padding-left: 45px;
    padding-bottom: 30px;
    margin-top: 31px;
    background-color: #F5F5F5;
    box-sizing: border-box;
    position: relative;
  }

  #todo, #doing{
    margin-right: 90px;
  }

  h2{
    margin-top: 45px;
    font-size: 30px;
  }

  #add1, #add2, #add3{
    position: absolute;
    bottom: 30px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-family: 'Kavoon', cursive;
    font-size: 20px;
    cursor: pointer;
  }

  #plus{
    margin-right: 10px;
  }

  form{
    display: flex;
    flex-direction: column;
    width: 200px;
  }

  input{
    margin-bottom: 5px;
  }

  .name{
    height: 30px;
  }

  .description{
    height: 50px;
  }

  .date{
    height: 30px;
  }

  .task-details{
    display: flex;
    flex-direction: column;
  }

  .lili{
    list-style: none;
    width: 340px;
  }

  .taskname{
    background-color: red;
    color: black;
  }

  .taskdescri{
    margin-left: 30px;
    margin-top: 10px;
    color: black;
  }

  .taskdate{
    margin-top: 40px;
    margin-right: 10px;
    display: flex;
    justify-content: end;
    color: black;
  }