:root {
  --primary-color: #fff;
  font-size: 100%;
}

body {
  margin: 0;
  background-size: auto 100%;
  background-color: #E1FAFF;
  font-family: 'Kavoon', cursive;
}

body.darkmode {
  background-color: #7B7B7B;
  color: #F5F5F5;
}

#biggestbox {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

#inbox {
  width: 100%;
  margin-left: 93px;
  margin-top: 10px;
}

#head {
  display: flex;
  align-items: center;
}

#title {
  font-size: 70px;
  margin-left: 30px;
}

#searchbar {
  border-radius: 50px;
  width: 328px;
  margin-left: 250px;
  margin-right: 20px;
  height: 25px;
  border: none;
}

#search {
  cursor: pointer;
}



#buttdark {
  margin-left: 559px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-size: 20px;
  background-image: url(media/moon.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#buttdark:hover {
  border-color: red;
}

#content {
  display: flex;
}

#todo,
#doing,
#done {
  width: 520px;
  height: 635px;
  padding-left: 45px;
  padding-bottom: 30px;
  margin-top: 31px;
  background-color: #F5F5F5;
  box-sizing: border-box;
  position: relative;
  
}

#todo,
#doing {
  margin-right: 90px;
}

h2 {
  margin-top: 45px;
  font-size: 30px;
}

#add1 {
  position: absolute;
  bottom: 30px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-family: 'Kavoon', cursive;
  font-size: 20px;
  cursor: pointer;
}

#plus {
  margin-right: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 200px;
}

input {
  margin-bottom: 5px;
  padding-left: 20px;
}

textarea{
  padding-left: 20px;

}

.name {
  height: 30px;
  border: solid 2px;
}

.description {
  height: 30px;
  border: solid 2px;
  margin-bottom: 5px;
}

.date {
  height: 30px;
  border: solid 2px;
  margin-bottom: 10px;
}

.button{
  width: 100px;
  margin-left: 50px;
  background-color: white;
  border: solid 2px;
  border-radius: 50px;
  padding: 5px;
  margin-bottom: 15px;
}

.button:hover{
  border-color: red;
}

.task-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0 !important;
}

.lili {
  list-style: none;
  width: 340px;
}

.lili.dragging {
  cursor: move;
}

.taskname {
  color: black;
  padding: 10px;
  font-size: 20px;
  width: 500px;
}

#todo-list .lili .taskname {
  background-color: red;
}

#doing-list .lili .taskname {
  background-color: #FF9900;
}

#done-list .lili .taskname {
  background-color: #52FF00;
}

#doing-list .lili .deletebutton{
  background-color: #FF9900;
}

#done-list .lili .deletebutton{
  background-color: #52FF00;
}

.taskdescri {
  width: 280px;
  margin-left: 30px;
  margin-top: 20px;
  color: black;
  font-family: 'Inter', sans-serif;
}

.taskdate {
  margin-top: 40px;
  margin-right: 10px;
  display: flex;
  justify-content: end;
  color: black;
  font-family: 'Inter', sans-serif;
  margin-bottom: 10px;
}

.deletebutton {
  width: 100%;
  background-color: red;
  border: none;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 15px;
}

.taskcontainer {
  display: flex;
  flex-direction: row;
}

.task-container {
  max-height: 440px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.arg{
  display: flex;
  align-items: center;
}

@media screen and (max-width: 540px) {

  #inbox {
    width: 100%;
    margin-left: 50px;
    margin-top: 10px;
  }

  #head{
    display: flex;
    flex-direction: column;
    width: 200px;
    
  }

  #logo{
    width: 120px;
    height: 120px;
  }

  #title {
    font-size: 30px;
    margin-left: 10px;
  }

  #searchbar {
    width: 228px;
    margin-left: 100px;
    margin-right: 20px;
    
  }

  #buttdark {
    margin-left: 360px;
    margin-top: -150px;
  }

  #content{
    display: flex;
    flex-direction: column;
    
  }


  #todo
 {
  width: 340px;
  height: 435px;
  margin-top: 131px;
  background-color: #F5F5F5;
  box-sizing: border-box;
  position: relative;
  
}

#doing,
#done{
  width: 340px;
  height: 435px;
  margin-top: 31px;
  background-color: #F5F5F5;
  box-sizing: border-box;
  position: relative;
}

#done{
  margin-bottom: 30px;
}
#todo-list{
  padding-left: 10px;
}

.lili{
  width: 240px;
  padding-left: 0;
}

.task-container{
  max-height: 240px;
}

}


@media screen and (max-width: 1024px) and (min-width: 541px) {

  #inbox {
    width: 100%;
    margin-left: 50px;
    margin-top: 10px;
  }

  #head{
    display: flex;
    flex-direction: column;
    width: 500px;
    
  }

  #logo{
    width: 120px;
    height: 120px;
  }

  #title {
    font-size: 30px;
    margin-left: 10px;
  }

  #searchbar {
    width: 228px;
    margin-left: 100px;
    margin-right: 20px;
    
  }

  #buttdark {
    margin-left: 360px;
    margin-top: -150px;
  }

  #content{
    display: flex;
    flex-direction: column;
    
  }


  #todo
 {
  width: 440px;
  height: 435px;
  margin-top: 131px;
  margin-left: 20%;
  background-color: #F5F5F5;
  box-sizing: border-box;
  position: relative;
  
}

#doing,
#done{
  width: 440px;
  height: 435px;
  margin-top: 31px;
  margin-left: 20%;
  background-color: #F5F5F5;
  box-sizing: border-box;
  position: relative;
}

#done{
  margin-bottom: 30px;
}
#todo-list{
  padding-left: 10px;
}

.task-container{
  max-height: 240px;
}

}

@media screen and (max-width: 1440px) and (min-width: 1025px) {
  
}